{% extends 'users/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="py-5 mb-2">
        <h2>You logged in Successfully</h2>
        <br>
        <h2>Username : {{user.username}}</h2>
        <h2>Email : {{user.email}}</h2>
    </div>
    <div class="py-5 mt-2">
        <a href="{% url 'users:logout' %}" class="btn" style="color: white; background-color: #fd5e14;" type="submit"
            id="header-links"> Logout </a>
    </div>

</div>

{% endblock %}